$header-color: #283046;
.header {
  background-color: white;
  width: 100%;
  height: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  .headerContent {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media only screen and (max-width: 600px) {
      & {
        width: 98%;
      }
    }

    .logo {
      display: flex;
      align-items: center;
      height: 45px;
      cursor: pointer;
      font-size: 24px;
      font-weight: 600;
      color: $header-color;
      transition: 0.2s;

      > img {
        height: 50px;
        width: 50px;
        margin-right: 8px;
        height: 100%;
        object-fit: cover;
      }

      &:hover {
        color: lighten($header-color, 10%);
      }
    }

    .rightContent {
      display: flex;
      align-items: center;

      .addPlayer {
        margin-right: 15px;
        cursor: pointer;
      }

      .addPlayer,
      .account {
        display: flex;
        align-items: center;
        padding: 8px 20px;
        height: 40px;
        background-color: $header-color;
        color: #fff;
        border-radius: 8px;
        cursor: pointer;
        transition: 0.2s;

        > svg {
          margin-right: 5px;
        }

        &:hover {
          background-color: lighten($header-color, 10%);
        }
      }

      .addPlayerButton {
        @media only screen and (max-width: 600px) {
          & {
            display: none;
          }
        }
      }
    }
  }
}
