$background-color: #283046;

.editPlayerForm {
    box-sizing: border-box;
    margin: 20px 0;
    padding: 40px 20px;
    border-radius: 20px;
    background-color: $background-color;
    
    .formControl {
        width: 100%;
    
        .header {
            color: white;
            margin-bottom: 20px;
        }

        .areaGroup {
            display: flex;
            gap: 20px;

            .fieldGroup {
                width: 100%;
                display: flex;
                flex-direction: column;
                margin-bottom: 20px;

                label {
                    color: white;
                    margin-bottom: 0.5rem;
                    font-weight: bold;
                }

                .field {
                    height: 30px;
                    border-radius: 30px;
                    border: none;
                    padding: 0 15px;
                }

                .checkbox {
                    display: flex;
                    align-items: center;
                    color: white;
                    font-weight: 600;

                    .field {
                        margin-right: 10px;
                    }
                }

                .error {
                    padding: 5px 0;
                    color: red;
                }
            }

            @media only screen and (max-width: 600px) {
                & {
                  flex-direction: column;
                }
              }
        }

        .addButton {
            width: 200px;
            height: 40px;
            font-size: 1.5rem;
            border-radius: 10px;
            border: none;
        }

        .deleteButton {
            width: 200px;
            height: 40px;
            font-size: 1.5rem;
            border-radius: 10px;
            border: none;
            color: red;
            margin-right: 20px;
        }
    }
}

